@media only screen and (max-width: 600px) {
    body{
        letter-spacing: none;
        font-size: 1rem;
        height: auto;
        overflow: hidden;
    }
    .container{
        position: relative;
        display: grid;
        grid-column: auto;
        box-shadow: none;
        width: 100%;
    }
    .results-container{
        float: none;
        width: 230px;
        height: 100%;
    }
    .summary-container{
        float: none;
        width: auto;
        height: auto;
    }
    .summary-txt{
        position: absolute;
        left: 20px;
    }
    .summary-list{
        position: none;
        margin: 0px 44px 10px 0px;
    }

    #continue-btn{
        position: absolute;
        left: 20px;
    }
}